<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<nav th:replace="fragments/commons">
</nav>
<div class="container">
    <div class="nav-item">
        <form th:method="GET">
            <label class="text-white" for="lang">Language</label>
            <select
                    id="lang"
                    name="lang"
            onchange="this.form.submit()">
                <option value="en-US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                <option value="bg-BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
            </select>


        </form>

    </div>

<img class="card-img" src="/images/full-logo-no-background.png" alt="Card image">


<div class="card bg-dark text-white">

    <div class="card-img-overlay" >
        <h5 class="card-title" th:text="#{about_us_header}">About us:</h5>
        <p class="card-text" th:text="#{about_us_paragraph}">Welcome to Fantasy Football Game!. This is a place made by a football enthusiast for other enthusiasts who love the sport and want to not only watch it but also participate in it.</p>
        <h5 class="card-title" th:text="#{my_goal_header}">My goal:</h5>
        <p class="card-text" th:text="#{my_goal_paragraph}">My goal is to present a site which combines both the latest and trustworthy news and a game which will make you watch the football games with a little bit more passion because
        the real results will affect how your team performs.</p>
        <h5 class="card-title" th:text="#{contacts_header}">Contacts:</h5>
        <p class="card-text" th:text="#{contacts_paragraph}">If you want to leave a feedback, a suggestion or just chat about football, feel free to contact me on the following social medias:</p>
        <div class="text-center text-white mb-2">
            <div class="container p-4 pb-0">
                <section>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Kaloyan.Zh.Ivanov/" role="button"
                    ><i class="fa fa-facebook-f fa-2x"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/KaloyanZHI" role="button"
                    ><i class="fa fa-github fa-2x"></i
                    ></a>
                    <p>
                    <i class="fa fa-envelope" style="font-size:32px"></i
                    > kaloyanzhi90@gmail.com</p>



                </section>

            </div>

        </div>


    </div>
</div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
