<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add points</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>

<nav th:replace="fragments/commons">
</nav>

<div class="container">
    <div class="row">
        <h4 style="color: white">At the end of the match week reset the players points, match rating and save all the team points! <a
                class="btn btn-outline-light"
                type="button"
                th:href="@{/add-points/reset-ratings}"

        >Do it!</a></h4>
        <h4 style="color: white">At the end of the season reset everything! <a
            class="btn btn-outline-light"
            type="button"
            th:href="@{/add-points/reset-everything}"

    >Do it!</a></h4>


        <div class="col-md-10">
            <table id="real-players" class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Total points</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${allPlayers}" th:object="${player}">
                    <th scope="row" th:text="${player.getId()}">1</th>
                    <td th:text="${player.getFirstName()}">Mark</td>
                    <td th:text="${player.getLastName()}">Otto</td>
                    <td th:text="${player.getPrice()}">@mdo</td>
                    <td><a class="btn btn-outline-light"
                           type="button"
                           th:href="@{/add-points/score-goal/{id}(id=*{id})}">Goal!</a></td>
                    <td th:if="${player.matchRating != 0.0}">
                        <p th:text="'Player rating is '+ ${player.getMatchRating() + ' for this match!'}"></p>
                    </td>
                    <td
                            th:if="${player.matchRating == 0.0}">
                        <form th:action="@{/add-points/match-rating/{id}(id=*{id})}" method="post">
                            <div class="form-group mb-2">
                                <label for="inputMatchRating" class="sr-only">Match rating</label>
                                <input type="text"
                                       class="form-control mx-2"
                                       id="inputMatchRating" placeholder="Rating"
                                       style="max-width: 70px; display: inline-block;"
                                       th:field="*{matchRating}" name="matchRating">
                                <button type="submit" class="btn btn-outline-light ml-2">Submit rating</button>
                            </div>
                        </form>
                    </td>
                    <td th:text="${player.getPoints()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
