<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin tools</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>

<nav th:replace="fragments/commons">
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <table id="real-players" class="table table-dark">
                <thead>
                <tr>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em">#</th>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em">Username</th>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em">Email</th>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em">Age</th>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em">Team name</th>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em"></th>
                    <th scope="col" style="padding-left: 1em; padding-right: 2em"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allUsers}" th:object="${user}" style="text-align: center">
                    <th scope="row" th:text="${user.getId()}">1</th>
                    <td th:text="${user.getUsername()}">Mark</td>
                    <td th:text="${user.email}">Otto</td>
                    <td th:text="${user.getAge()}">@mdo</td>
                    <td th:text="${user.fantasyTeam.getTeamName()}">@mdo</td>
                    <td th:if="${user.getRoles().size() < 2}">
                        <a class="btn btn-outline-light"
                           type="button"
                           th:href="@{/admin-tools/add-role/{id}(id=*{id})}">Make admin</a>
                    </td>
                    <td th:if="${user.getRoles().size() == 2}">
                        <a class="btn btn-light"
                           type="button"
                           th:href="@{/admin-tools/remove-role/{id}(id=*{id})}">Revoke rights</a>
                    </td>
                    <td>
                        <form class="nav-item"
                              th:method="POST"
                              th:action="@{/admin-tools/delete/{id}(id=*{id})}">
                            <input type="hidden" name="_method" value="DELETE"/>

                            <button class="btn btn-outline-light"
                                    type="submit"
                            >Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
